.footer a  {
    display: grid;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-central);
    transition: 0.3s;
}

.footer a:hover {
    color: var(--btn-central);
}