.titulos {
    max-width: 320px;
    padding: 10px 20px;
    margin: 5px auto;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulos-container h1 span {
    color: var(--btn-central);
}

.titulos-container p {
    margin-top: 10px;
    color: var(--text-sub);
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}